.button {
  font: inherit;
  border: 1px solid #000;
  border-radius: 10px;
  background: tomato;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: tomato;
  border-color: #fff;
}

.button:focus {
  outline: none;
}